.color-black {
  color: #1a1a1a;
}
.color-white {
  color: #FFFFFF;
}
.color-gray {
  color: #6F6F6F;
}
.color-primary {
  color: #5cb090;
}
.color-primary-light {
  color: #FBEFF5;
}
.color-secondary {
  color: #5cb090;
}
.color-green {
  color: green;
}
.color-red {
  color: #DC3545;
}
.color-yellow {
  color: #FFC300;
}
.color-gray-card {
  color: #797D7F;
}
.bg-black {
  background-color: #1a1a1a;
}
.bg-white {
  background-color: #FFFFFF;
}
.bg-gray {
  background-color: #6F6F6F;
}
.bg-light-gray {
  background-color: #F0F0F0;
}
.bg-primary {
  background-color: #5cb090 !important;
}
.bg-primary-light {
  background-color: #FBEFF5;
}
.bg-secondary {
  background-color: #5cb090 !important;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: #DC3545;
}
.bg-ultra-light-gray {
  background-color: #E6E5EA;
}
body {
  font-family: 'Poppins', sans-serif;
}
.text-bold {
  font-weight: 700 !important;
}
.text-semi-bold {
  font-weight: 500 !important;
}
.text-thin {
  font-weight: 400 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.btn {
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.btn-primary {
  background-color: #5cb090;
  border-color: #5cb090;
  color: #FFFFFF;
}
.btn-primary.btn-primary:hover,
.btn-primary.btn-primary:active {
  border-color: #5cb090;
  box-shadow: 0 0 0 0.1rem #5cb09e !important;
  background-color: #479275 !important;
}
.btn-outline-primary {
  border-color: #5cb090;
  color: #FFFFFF;
}
.btn-outline-primary.btn-outline-primary:hover,
.btn-outline-primary.btn-outline-primary:active {
  border-color: #5cb090;
  box-shadow: 0 0 0 0.1rem #5cb09e !important;
  background-color: #479275 !important;
}
.btn-primary-light {
  background-color: #FBEFF5;
  border-color: #FBEFF5;
}
.btn-primary-light.btn-primary-light:hover,
.btn-primary-light.btn-primary-light:active {
  border-color: #FBEFF5;
  box-shadow: 0 0 0 0.1rem #fbeff3 !important;
  background-color: #f1c6db !important;
}
.btn-secondary {
  background-color: #5cb090;
  border-color: #5cb090;
  color: #FFFFFF;
}
.btn-secondary.btn-secondary:hover,
.btn-secondary.btn-secondary:active {
  border-color: #5cb090;
  box-shadow: 0 0 0 0.1rem #5cb09e !important;
  background-color: #479275 !important;
}
.btn-outline-secondary {
  border-color: #5cb090;
  color: #1a1a1a;
}
.btn-outline-secondary.btn-outline-secondary:hover,
.btn-outline-secondary.btn-outline-secondary:active {
  border-color: #1a1a1a;
  box-shadow: 0 0 0 0.1rem #1a1a1a !important;
  background-color: #000000 !important;
}
.btn-white {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-white.btn-white:hover,
.btn-white.btn-white:active {
  border-color: #FFFFFF;
  box-shadow: 0 0 0 0.1rem #ffffff !important;
  background-color: #e6e6e6 !important;
}
.btn-gray {
  background-color: #6F6F6F;
  border-color: #6F6F6F;
}
.btn-gray.btn-gray:hover,
.btn-gray.btn-gray:active {
  border-color: #6F6F6F;
  box-shadow: 0 0 0 0.1rem #6f6f6f !important;
  background-color: #565656 !important;
}
.badge-primary {
  background-color: #FBEFF5;
  border-color: #FBEFF5;
  color: #6F6F6F;
  cursor: pointer;
}
.big-border-radius {
  border-radius: 40px;
}
.bottom-border {
  border-bottom: 5px solid #5cb090;
}
.bottom-border-thin {
  border-bottom: 2px solid #5cb090;
}
.border-radius {
  border-radius: 20px;
}
.border-radius-top-right {
  border-top-right-radius: 20px;
}
.border-radius-top-left {
  border-top-left-radius: 20px;
}
.border-black {
  border: 2px solid #1a1a1a;
}
.thin-border {
  border: 1px solid #6F6F6F;
}
@media (max-width: 991px) {
  .t-resp {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
/********************************
 ********   Footer   *************
 ********************************/
.footer {
  height: 3rem;
  text-align: center;
  color: #5cb090;
  background-color: #FBEFF5;
  align-items: center;
}
/********************************
 ********   Colors   *************
 ********************************/
.text-color-primary {
  color: #5cb090;
}
/********************************
 ********   Login   *************
 ********************************/
.card-login {
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.w-card-login {
  width: 75%;
}
@media (max-width: 425px) {
  .w-card-login {
    width: 100% !important;
  }
}
/********************************
 ********  Sidebar   *************
 ********************************/
.nav {
  background: #5cb090;
  min-height: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nav .nav-link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  margin-bottom: 3rem;
}
.nav .nav-link.active span:first-child {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nav .nav-link span:first-child {
  padding: 1rem 0;
  padding-left: 1rem;
  padding-right: 6px;
}
.nav .nav-link:last-child {
  margin-bottom: 0;
  margin-top: auto;
}
.nav .sidebar-text {
  margin-left: 4px;
}
.main-card {
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: calc(100vh - 80px);
}
/********************************
 ********  Navbar   *************
 ********************************/
.navbar {
  background: #5cb090 !important;
  border-radius: 30px 30px 0px 0px;
  color: white !important;
}
.navbar .navbar-nav .nav-link {
  color: #FFFFFF !important;
  padding: 0 !important;
  margin-bottom: 3rem !important;
}
.navbar .navbar-nav .nav-link.active span:first-child {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}
.navbar .navbar-nav .nav-link span:first-child {
  padding: 1rem 0 !important;
  padding-left: 1rem !important;
  padding-right: 6px !important;
}
.navbar .navbar-nav .sidebar-text {
  margin-left: 4px !important;
}
@media screen and (max-width: 991px) {
  .logo-rigunes img {
    content: url("/img/logos/rigunes_logo.png");
  }
}
.variant-image {
  max-width: 30%;
  height: auto;
}
.image-selected {
  border: 10px solid #5cb090;
}
/********************************
 ********  Dashboard   *************
 ********************************/
.card-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  background-color: #fff;
  background-clip: border-box;
}
.card-stats .card-body {
  padding: 1rem 1.5rem;
}
.card-stats .card-status-bullet {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.card-body {
  min-height: 1px;
  padding: 1.5rem;
  flex: 1 1 auto;
}
.card-title {
  margin-bottom: 1.25rem;
}
.text-muted {
  color: white !important;
}
.font-weight-bold {
  font-weight: 600 !important;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.rounded-circle,
.avatar.rounded-circle img {
  border-radius: 50% !important;
}
