@import (less) "_commons.less";

/********************************
 ********   Colors   *************
 ********************************/

.text-color-primary{
    color: @primary;
}


/********************************
 ********   Login   *************
 ********************************/

.card-login{
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.w-card-login{

    width: 75%;

    @media(max-width: 425px)
    {
        width: 100% !important;
    }

}



/********************************
 ********  Sidebar   *************
 ********************************/

.nav{
    background: @primary;
    min-height: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    .nav-link{
        color: @white;
        text-decoration: none;
        padding: 0;
        margin-bottom: 3rem;
        &.active{
            span:first-child{
                background-color: rgba(@white, .3);
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }
        }
        span:first-child{
            padding: 1rem 0;
            padding-left: 1rem;
            padding-right: 6px;
        }
        &:last-child{
            margin-bottom: 0;
            margin-top: auto;
        }
    }
    .sidebar-text{
        margin-left: 4px;
    }
}

.main-card{
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: calc(100vh - 80px);
}

/********************************
 ********  Navbar   *************
 ********************************/

.navbar{
    background: @primary !important;
    border-radius: 30px 30px 0px 0px;
    color: white !important;

    .navbar-nav{
        .nav-link{
            color: @white !important;
            padding: 0 !important;
            margin-bottom: 3rem !important;
            &.active{
                span:first-child{
                    background-color: rgba(@white, .3) !important;
                    border-top-right-radius: 2rem !important;
                    border-bottom-right-radius: 2rem !important;
                }
            }
            span:first-child{
                padding: 1rem 0 !important;
                padding-left: 1rem !important;
                padding-right: 6px !important;
            }
        }
        .sidebar-text{
            margin-left: 4px !important;
        }
    }

}

@media screen and (max-width: 991px) {
    .logo-rigunes img{
        content:url("/img/logos/rigunes_logo.png");
    }
}

.variant-image{
    max-width: 30%;
    height: auto;
}

.image-selected{
    border: 10px solid @primary;
}

/********************************
 ********  Dashboard   *************
 ********************************/

.card-dashboard
{
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
}

.card-stats {
    .card-body {
        padding: 1rem 1.5rem;
    }

    .card-status-bullet {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
}

.card-body
{
    min-height: 1px;
    padding: 1.5rem;

    flex: 1 1 auto;
}

.card-title
{
    margin-bottom: 1.25rem;
}

.text-muted
{
    color: white !important;
}

.font-weight-bold
{
    font-weight: 600 !important;
}

.icon
{
    width: 3rem;
    height: 3rem;
}

.icon-shape
{
    display: inline-flex;

    padding: 12px;

    text-align: center;

    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.rounded-circle,
.avatar.rounded-circle img
{
    border-radius: 50% !important;
}
